h2 {
    padding: 0;
    margin: 2px 0 10px 0;
}

td.nowrap {
    white-space: nowrap;
}

div#browser {
    float: left;
}

div#browser img {
    border: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

ul#productList li {
    display: inline;
}

div.productImage {
    display: inline;
}

ul#productList {
    margin-left: 5px;
}

div#items {
    margin-left: 330px;
}