div#browser {
    width: 150px;
    margin-left: 20px;
    float: left;
}

div#items {
    margin-left: 200px;    
}


#tags {
    margin-top: 5px;
}

#browser a:hover {
    text-decoration: underline;
}

h2 {
    padding: 0;
    margin: 2px 0 10px 0;
}

h3 {
    padding: 0;
    margin: 20px 0 10px 0;
}

td.nowrap {
    white-space: nowrap;
}

ul {
    padding: 0;
    margin: 0;
}

ul#categoryList {
    //list-style: square;
}

ul#productList {
    list-style: none;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

#categoryList li {
    margin: 0 0 10px 0;
    padding: 0;
}

#categoryList li.active {
    list-style-image: url("../../images/tree/menu/collapse.gif");
}

#categoryList li.inactive {
    list-style-image: url("../../images/tree/menu/expand.gif");
}


#productList li {
    margin: 5px 0 0 0;
    padding: 0;
}

#productList a {
    font-weight:normal;
}
