div#map {
    float: right;
    width: 400px;
    height: 300px;
    border:1px solid black;
}

div#itemImage {
    float: right;
}

div.dialog {
    margin-right: 420px;
}

.rating {
}

.rating a {
    padding: 5px 10px;
    background: #eee;
}

.rating a:hover {
    background: #ddd;
}

table {
    float: left;
    border: none;
    width: 500px;
}